[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-bootstrap = "*"
flask-admin = "*"
dynaconf = "*"
flask-shell-ipython = "*"
flask-simplelogin = "*"
python-dotenv = "*"

[dev-packages]
flask-debugtoolbar = "*"
flake8 = "*"
flake8-fixme = "*"
black = "*"
isort = "*"
ipdb = "*"
mypy = "*"
mypy-extensions = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
pytest-flask = "*"
pytest-asyncio = "*"
pytest-env = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
